/*-------------------------------------
  Font
-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

/*-------------------------------------
  Tailwind
-------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------
  General
-------------------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  @apply text-black;
}

/*-------------------------------------
  Scroll Bar
-------------------------------------*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  @apply bg-gray-200;
}

body::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  @apply bg-gray-300;
}

/*-------------------------------------
  Button
-------------------------------------*/
.primary-btn {
  @apply bg-salmon-500 text-white  hover:brightness-110 active:brightness-100;
}

.secondary-btn {
  @apply bg-yellow-500 text-yellow-800 hover:brightness-105 active:brightness-100;
}

.tertiary-btn {
  @apply bg-salmon-100 text-salmon-700  hover:brightness-150;
}

.quaternary-btn {
  @apply border-2 border-salmon-500 text-salmon-500;
}

.big-btn {
  @apply px-8 py-3 md:px-9 md:py-3.5 md:text-lg;
}

.medium-btn {
  @apply px-6 py-2.5 md:text-lg;
}

.small-btn {
  @apply px-3 py-2 text-sm;
}

/*-------------------------------------
  Animations
-------------------------------------*/
.animate-slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpFadeIn 1s ease forwards;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
